################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/
*/obj/
.vs/RestApiTutorial/v16/.suo
.vs/RestApiTutorial/DesignTimeBuild/.dtbcache.v2

*.testlog
