################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tweetbook/bin/
/Tweetbook/obj/
.vs/RestApiTutorial/v16/.suo
.vs/RestApiTutorial/DesignTimeBuild/.dtbcache.v2
